<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<title>Hello, world!</title>
</head>
<body>

<div class='text-center'>
    <h1>{{ title }}</h1>
{# <h1>Hello, world! We're working...</h1> #}
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <p> {{ content }} </p>
            <div class="col-sm-6 col-12">
                <!-- {% csrf_token %} -->

                <form action="" method="POST"> {% csrf_token %}
                    {{ form }}
                    <button type="Submit" class="btn btn-default">Submit</button>
                    <!-- <input type="text" class="form-control", placeholder="Name" name=full_name>
                    <input type="email" class="form-control", placeholder="Email" name=email>
                    <textarea name="content" placeholder="Your Content" rows="8" cols="80"></textarea>
                    <button type= "submit" class= "btn btn-default"> Submit </button>
                    <button type="submit" class='btn btn-default'> Submit </button> -->
                </form>

            </div>
        </div>

    </div>

</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
